In [5]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy.sparse import hstack
import numpy as np
import pickle

In [3]:
statead = pd.read_csv('./statead.csv')
test = pd.read_csv('./pre/test.csv')
statead.head()

   creativenessID  brand  successclick\n  successconversion
0            4079    191          2890.0                 10
1            4565     56        449000.0              11622
2            3170   1400           387.0                  5
3            6566   1400           224.0                  1
4            5187     56        141000.0               2277

In [8]:
train = pd.read_csv('./pre/train.csv')
train.head()

,label,clickTime,conversionTime,creativeID,userID,positionID,connectionType,telecomsOperator
0,0,170000,NaN,3089,2798058,293,1,1
1,0,170000,NaN,1259,463234,6161,1,2
2,0,170000,NaN,4465,1857485,7434,4,1
3,0,170000,NaN,1004,2038823,977,1,1
4,0,170000,NaN,1887,2015141,3688,1,1

In [3]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-

import scipy.io
import pandas

mat = scipy.io.loadmat('./pre/train_clear.mat')
print mat
mat = mat['clear_train_DATA']
frm = pandas.DataFrame(mat)
frm.to_csv('./pre/train_clear.csv')

{'__version__': '1.0', 'clear_train_DATA': array([[     0, 170000,      0, ...,    293,      1,      1],
       [     0, 170000,      0, ...,   6161,      1,      2],
       [     0, 170000,      0, ...,   7434,      4,      1],
       ...,
       [     0, 302359,      0, ...,   6315,      1,      1],
       [     0, 302359,      0, ...,   7149,      1,      1],
       [     0, 302359,      0, ...,   1463,      1,      1]]), '__header__': 'MATLAB 5.0 MAT-file, Platform: PCWIN64, Created on: Thu Jun 01 21:40:41 2017', '__globals__': []}

In [9]:
train = pd.read_csv('./pre/train_clear.csv')

train.rename(columns={'0':'label', '1':'clickTime', '2':'conversionTime', '3':'creativeID', '4':'userID', '5':'positionID', '6':'connectionType', '7':'telecomsOperator'}, inplace = True)

,Unnamed: 0,label,clickTime,conversionTime,creativeID,userID,positionID,connectionType,telecomsOperator
0,0,0,170000,0,3089,2798058,293,1,1
1,1,0,170000,0,1259,463234,6161,1,2
2,2,0,170000,0,4465,1857485,7434,4,1
3,3,0,170000,0,1004,2038823,977,1,1
4,4,0,170000,0,1887,2015141,3688,1,1
5,5,0,170000,0,3293,1177829,3347,1,1
6,6,0,170000,0,4793,1257450,1876,1,2
7,7,0,170000,0,1456,764204,6086,1,3
8,8,0,170000,0,4465,1438585,2426,2,3
9,9,0,170000,0,985,1750317,5414,1,3
10,10,0,170000,0,3465,2079582,6086,1,3
11,11,0,170000,0,2764,2551467,977,1,1
12,12,0,170000,0,997,2120928,5648,1,3
13,13,0,170000,0,997,2292736,3498,1,1
14,14,0,170000,0,4465,1119329,4635,3,3
15,15,0,170000,0,3465,2256911,5013,1,1
16,16,0,170000,0,3846,554021,932,1,1
17,17,0,170000,0,6490,1666508,5347,1,1
18,18,0,170000,0,5187,1082944,6850,2,3
19,19,0,170000,0,1456,2437627,6086,1,3
20,20,0,170000,0,4686,1658851,1613,1,1
21,21,0,170000,0,4250,2009709,2831,1,1
22,22,0,170000,0,4465,1746056,4113,1,2
23,23,0,170000,0,3575,1111108,6905,1,3
24,24,0,170000,0,3531,402769,3347,1,1
25,25,0,170000,0,5187,2428743,6086,1,1
26,26,0,170000,0,3465,90746,2931,1,1
27,27,0,170000,0,2137,217320,2579,1,1
28,28,0,170000,0,4250,1443907,6193,1,1
29,29,0,170000,0,726,912898,2150,1,1
...,...,...,...,...,...,...,...,...,...
3731437,3731437,0,302359,0,1301,1261149,4867,1,2
3731438,3731438,0,302359,0,4465,497968,6076,1,1
3731439,3731439,0,302359,0,72,362006,2150,1,1
3731440,3731440,0,302359,0,4565,1642671,3897,1,2
3731441,3731441,0,302359,0,1465,550619,3322,1,2
3731442,3731442,0,302359,0,4465,404910,7239,4,1
3731443,3731443,0,302359,0,2459,164909,1385,1,1
3731444,3731444,0,302359,0,853,2035386,2579,1,2
3731445,3731445,0,302359,0,3869,1490154,47,1,1
3731446,3731446,0,302359,0,376,1906493,2887,1,1
3731447,3731447,0,302359,0,4432,473579,2891,1,1
3731448,3731448,0,302359,0,4432,1934568,5913,1,1
3731449,3731449,0,302359,0,4565,1182432,5951,2,1
3731450,3731450,0,302359,0,985,1874106,7441,2,1
3731451,3731451,0,302359,0,150,1239193,4250,1,1
3731452,3731452,0,302359,0,2899,1226422,3412,1,3
3731453,3731453,0,302359,0,4565,354740,4657,1,3
3731454,3731454,0,302359,0,6440,1788688,2868,1,2
3731455,3731455,0,302359,0,4565,377761,2185,1,1
3731456,3731456,0,302359,0,1902,14313,621,1,1
3731457,3731457,0,302359,0,6072,587482,788,1,3
3731458,3731458,0,302359,0,4465,295066,877,1,1
3731459,3731459,0,302359,0,4565,1328516,4292,1,3
3731460,3731460,0,302359,0,4565,2404209,6315,1,3
3731461,3731461,0,302359,0,1456,2026232,3789,2,1
3731462,3731462,0,302359,0,5030,837304,2150,1,1
3731463,3731463,0,302359,0,4469,1037576,1456,1,3
3731464,3731464,0,302359,0,3869,1163462,6315,1,1
3731465,3731465,0,302359,0,3586,89477,7149,1,1
3731466,3731466,0,302359,0,6311,93736,1463,1,1

In [10]:
del train['Unnamed: 0']
train.head()

,label,clickTime,conversionTime,creativeID,userID,positionID,connectionType,telecomsOperator
0,0,170000,0,3089,2798058,293,1,1
1,0,170000,0,1259,463234,6161,1,2
2,0,170000,0,4465,1857485,7434,4,1
3,0,170000,0,1004,2038823,977,1,1
4,0,170000,0,1887,2015141,3688,1,1

In [12]:
train.to_csv('./pre/train_clear.csv',index=None)

In [ ]:
train = pd.read_csv('./pre/train_clear.csv')

In [11]:
train.isnull().values.any()

False